body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    height: auto;
    width: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.input-container {
    width: 100%;
}

.input-container-text {
    margin-bottom: 5px;
}

.input-container > input {
    box-sizing: border-box;
    height: 30px;
    margin-bottom: 15px;
    border: 1px solid black;
    width: 100%;
    padding: 0 10px;
}

/* BUTTON */
.btn {
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00ffff;
    margin-bottom: 15px;
}
.btn:hover, .btn:focus {
    background-color: #8bffff;
}
.btn:active {
    background-color: #00e0e0;
}
.btn:hover {
    cursor: pointer;
}

.link-container {
    width: 100%;

}

.link {
    color: #45b1ff;
    text-decoration: underline;
}
.link:visited {
    color: #45b1ff;
}