<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="shortcut icon" type="image/svg" href="../icon/icon.svg" />
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/login.css">
    <script src="../../src/login.ts" defer></script>
</head>

<body>
    <div class="login-form">
        <div class="input-container username-container">
            <div class="input-container-text">Username</div>
            <input type="text" id="input-username" placeholder="username">
        </div>
        <div class="input-container password-container">
            <div class="input-container-text">Password</div>
            <input type="password" id="input-psw" placeholder="password">
        </div>

        <div class="login-btn">Login</div>
    </div>
</body>

</html>